<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>School_Create</h1>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
        {% if form.pk %}
            <input type="submit" value="Update">
        {%else%}
        <input type="submit" value="Insert_School">
            {% endif %}
        </form>
    </center>
</body>
</html>